Flask==3.0.0
flask-swagger-ui==4.11.1
PyPDF2==3.0.1
pdf2image==1.16.3
pytesseract==0.3.10
Pillow==10.1.0
Werkzeug==3.0.1
pycryptodome==3.23.0
pydantic_settings
alembic==1.17.2
flask_cors
flask-cors
mysql-connector-python
